<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>{{ site.name }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"/>

        {% if description %}
            <meta name="description" content="{{ description }}">
        {% endif %}

        <link rel="icon" type="image/png" href="./assets/images/for-us-films-logo.svg">

        {% for stylesheet in site.stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{stylesheet}}">
        {% endfor %}

        <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-3G2YRN7MZN"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-3G2YRN7MZN');
        </script>

        <style>
            #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
            /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
            We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
    </head>

    <body>
        {{ content | safe }}
    </body>
</html>