body {
  font-family: 'Chivo', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  text-transform: uppercase;
  font-family: 'Kanit', sans-serif;
}

h1 {
  margin: 0 0 2rem;
  font-size: 2.5rem;
}

a {
  color: inherit
}

@media (min-width: 425px) {
  h1 {
    font-size: 3.5rem;
  }
}

p + p {
  margin-top: .5rem;
}