body {
  font-family: 'Chivo', sans-serif;
  color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  text-transform: uppercase;
  font-family: 'Kanit', sans-serif;
}

h1 {
}

a {
  color: $white;
}

@media (min-width: 425px) {
  h1 {
    font-size: 4rem;
  }
}