---
layout: default.njk
---
<main>
    <div class="content">
        <img src="./assets/images/for-us-films-logo.png" height="200" />
        <div class="text">
            <h1>We Are Coming Soon</h1>
            <p>Championing Filmmakers.</p>
            <p>Sign up to our mailing list to be notified about our launch.</p>
        </div>

        <div class="mailchimp">
        <form action="https://hotmail.us1.list-manage.com/subscribe/post?u=1bf0f4444232e89dfdec7ba5d&amp;id=7285036279" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your email" required="">
          <input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe">

        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1bf0f4444232e89dfdec7ba5d_7285036279" tabindex="-1" value=""></div>
        </form>
        </div>
    </div>
</main>