---
layout: default.njk
---
<main>
    <div class="content">
        <img class="logo" alt="For Us Logo" src="./assets/images/for-us-films-logo.svg" height="120" />
        <div class="text">
            <h1>Coming December 1st</h1>
            <div id="timer"></div>
            <p>For Us Films is an innovative film company based in London. A platform dedicated to viewers and black creatives that offers opportunities for film-makers to create, showcase and collaborate.</p>
        </div>

        <div class="mailchimp">
        <p class="mb-space"><b>Sign up to our mailing list to be notified about our launch.</b></p>
        <form action="https://hotmail.us1.list-manage.com/subscribe/post?u=1bf0f4444232e89dfdec7ba5d&amp;id=7285036279" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your email" required="">
          <input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe">

        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1bf0f4444232e89dfdec7ba5d_7285036279" tabindex="-1" value=""></div>
        </form>
        </div>
    </div>
</main>